

@{
    ViewBag.Title = "Index";
}

<h2 id="h2">Index</h2>

<div>
    @Html.ActionLink("Create New", "Create")   

    <div id="divCat">@Html.DropDownList("CategoryID", null, htmlAttributes: new { @class = "form-control" })</div>
    <div id="divSubCat">@Html.DropDownList("SubCategoryID", null, htmlAttributes: new { @class = "form-control" })</div>
</div>
<div id="divGrid">
    
</div>

@section scripts{
    <script>
        $(function () {
            $("#CategoryID").change(function () {
                url = "/products/SubCat/" + $("#CategoryID").val();
                $("#divSubCat").load(url, function () {
                        $("#SubCategoryID").change(function () {
                            urlSubCat = "/products/grid/" + encodeURIComponent($("#SubCategoryID").val()) +
                                   "?category=" + $("#CategoryID").val();
                            $("#divGrid").load(urlSubCat, function () { });
                        });           
                });
                urlSubCat = "/products/grid/" + "Tous" +
                           "?category=" + $("#CategoryID").val();
                $("#divGrid").load(urlSubCat, function () { });
            });

            $("#CategoryID").change();
        });

    </script>
    }


